body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial';
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    overflow-x: hidden;
    min-width: 300px;
}

#gl-canvas {
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    min-width: 200px;
}

#editor-container {
    min-width: 20%;
    height: 100%;
}

#editor-container.hidden {
    display: none;
}

.play-pause-btn {
    background: none;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.play-pause-btn:hover {
    background-color: #1a1a1a;
}

.play-pause-btn.playing .icon {
    display: inline;
}

.db-rectangle {
    background-color: red;
    height: 10px;
    width: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.db-rectangle.hidden {
    display: none;
}